<div class="introbubble">
  Foutje gemaakt? pas hier gemakkelijk je stukje aan en druk op de mooie "Opslaan-knop" onderin.
</div>

<%= render 'form' %>

<div class="footer-container"><%= link_to 'Terug naar het overzicht', entries_path %></div>

