<div class="introbubble">
	Wil je <%= @user %> een speciale wens geven of je zorgen even kwijt? vul dan hieronder het gastenboek in. Let op dat je ook adresgegevens goed invuld, zo kunnen Henk en Anja je na dit geweldige feest nog even gepast bedanken ;)
</div>

<div class="formbubble"><%= render 'form' %></div>

<div class="footer-container"><%= link_to 'Bekijk reacties', entries_path %></div>
